body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}
header {
    background: #0455cf;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}
main {
    padding: 20px;
}
#sec-form, #resultado {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #c5c4c4;
}
label, select, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
button {
    padding: 10px;
    background: #0455cf;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #0851b8;
}
#erro {
    color: red;
    margin-top: 10px;
}
.hidden {
    display: none;
}
footer {
    margin-top: 255px;
    background: #000000;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}